.card {
    border-color: '$Garvin-Promo-Group-|-Сorporate-Website-|-UI/UX-Design-2-hex'; // Aspas adicionadas
  }
  
  .btn-primary {
    background-color: '$Garvin-Promo-Group-|-Сorporate-Website-|-UI/UX-Design-5-hex'; // Aspas adicionadas
    border-color: '$Garvin-Promo-Group-|-Сorporate-Website-|-UI/UX-Design-5-hex'; // Aspas adicionadas
  }